*{box-sizing: border-box;}

nav{height: 60px;
background-color: rgb(216, 208, 208);
display: inline-block;
width: 100%;}

.heading{padding-left: 40px;
padding-top: 5px;}

#name{font-size: x-large;
position: absolute;
padding-top: 10px;
padding-left: 10px;
color:rgb(15, 14, 14);
font-weight: bold;
font-family: 'Roboto Slab', serif;
cursor: default;}

nav .heading img{width: 50px;
height: 50px;
}

nav ul{list-style-type: none;
float: right;
margin: 0%;
padding: 0%;
display: inline;
padding-top: 10px;
}

nav form{display: inline;}

nav input{width: 300px;
height: 30px;
border: 2px solid black;
border-radius: 20px;}

nav input:hover{width: 340px;}

nav li{display: inline;
padding: 20px;
}

nav a{text-decoration: none;
color: black;
font-family: 'Roboto Slab', serif;
font-weight: bolder;
}

nav a:hover{transition: cubic-bezier(0.19, 1, 0.22, 1);
font-size:20px;}

#btn{width: 80px;
height: 25px;
color: black;
background-color:#e1695c;
border: 0.167em solid black;
border-radius: 23px;}

#btn:hover{background-color: #db7266c4;
transition: cubic-bezier(0.47, 0, 0.745, 0.715);
height: 30px;
font-size: 17px;}

.nav2{background-color: #e1695c;
cursor: default;}

.image{height: 400px;
background-image:url('seat.jpg');
text-align: center;
padding-top:60px;
font-family: 'Roboto Slab', serif;
font-size: 30px;
font-weight: bold;
cursor: default;
}

.shows{  margin: auto 40px;
border: 0.6em solid #e1695c;
}

.shows img{height: 370px;
width: 270px;
padding: 30px;
position: relative;
left: 47px;
opacity: 0.5;}

.shows img:hover{transition: cubic-bezier(1, 0, 0, 1);
    opacity: 1;
}

.head{position: relative;
left: 30px;
font-size:29px;
font-weight: bold;}

.end{height: 100px;
margin-top: 190px;
background-color: #e1695c;
text-align: center;
}

#copy{position: relative;
top: 30px;
font-size: 28px;
}
